<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
        <div class="container" style="padding:0">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><div title="aggre-gator - get it?" class="logo"></div></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="dropdown" style="padding: 26px 10px 20px 10px">
                            <a class="page-scroll dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Products <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/features">Conversion Tracking</a></li>
                                <li><a href="/scoring">Realtime User Scoring</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="page-scroll" href="/#pricing">Pricing</a></li>
                    <li><a class="page-scroll" href="/#contact">Phone: 844-Gator-IO</a></li>
                    <li><a href="<%- application.branding.loginUrl %>">Log in</a></li>
                    <li><a href="<%- application.branding.signupUrl %>">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
