<!DOCTYPE html>
<html>
<head>
    <% include partials/home/header %>
    <title>Contact Form</title>
</head>

<body class="landing-page subpage">
<% include partials/home/navbarSub %>

<div class="loginColumns animated fadeInDown">
    <% include partials/master/message %>
    <div class="row">

        <div class="col-md-12">
            <h2 class="subpage-title">Please enter your contact info if you're interested in talking to a sales representative, partnering,
                or scheduling a demo:</h2>

            <div class="ibox-content">

                <form class="m-t" role="form" id="contactForm">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="email" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" name="firstName" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Company (optional)" name="company">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone (optional)" name="phone">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Reason for contacting us (optional)" name="reason">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/home/footerScripts %>

<script>

    $(document).ready(function() {

        $('#contactForm').submit(function(evt) {
            evt.preventDefault();

            gator.logEvent('Lead', {
                'First Name': $('[name=firstName]').val(),
                'Last Name': $('[name=lastName]').val(),
                'Email': $('[name=email]').val(),
                'Company': $('[name=company]').val(),
                'Phone': $('[name=phone]').val(),
                'Reason': $('[name=reason]').val()
            });

            swal({
                title: "Thank you",
                text: "We will be in touch shortly.",
                type: "info",
                showCancelButton: false
            }, function() {
                window.location = '/';
            });
        });
    });
</script>
</body>
</html>
