<!DOCTYPE html>
<html>
<head>
    <% include partials/home/header %>
    <title>Conversion Tracking - Gator Analytics</title>
</head>

<body class="landing-page">
<% include partials/home/navbarSub %>

<section id="features" class="container services">

    <div class="row white-bg">
        <div class="col-lg-12">
            <br><br><h1>Conversion Tracking</h1><hr>
        </div>
    </div>

    <div class="row white-bg">
        <div class="col-lg-6">
            <br><br><div class="forum-icon">
                <i class="fa fa-bar-chart" style="position:relative;top:-10px"></i>
            </div>
            <h3>State of the Art Analytics and Conversion Tracking</h3>

            <br><strong>Gator.IO</strong> is part of the next generation of analytics products, meaning:
            <br><ul>
               <li>Every session, event and pageview is saved for the lifetime of the account and can be queried via the website or API.</li>
               <li>All reports are realtime with no sampling.</li>
               <li>Any amount of custom data can be added to sessions, events or users.  This data can be aggregated in reports and is editable.</li>
               <li>It is 100% API driven.  You can create your own custom apps or integrations.</li>
               <li>The user interface incorporates responsive design and will run elegantly on any modern device.</li>
            </ul>
        </div>
        <div class="col-lg-6" style="text-align:center">
            <img src="/images/screens-analytics.png" style="width:400px" />
        </div>
    </div>

    <div class="row white-bg m-t-lg">
        <div class="col-lg-6" style="text-align:center">
            <img src="/images/screens-bots.png" style="width:400px" />
        </div>
        <div class="col-lg-6">
            <br><br>
            <div class="forum-icon">
                <i class="fa fa-bug" style="position:relative;top:-10px"></i>
            </div>
            <h3>Bot and Hidden Session Detection</h3>

            <br>A unique feature of ours is the detection and segmentation of bot and hidden sessions.  This provides valuable insights into which sources are actually the most
            effective.  Stop paying for useless campaigns.  <a href="/how">For details on how we do this, click here</a>.
        </div>
    </div>

    <a name="events" class="anchor-header"></a>
    <div class="row white-bg m-t-lg">
        <div class="col-lg-6">
            <br><br>
            <div class="forum-icon">
                <i class="fa fa-bolt" style="position:relative;top:-10px"></i>
            </div>
            <h3>Events</h3>

            <br>Track actions your users take and gain insight from how they are using your website or app. Log form posts (with data), signups, downloads, leads and any other custom
            data. Events are fully segmentable and filterable.  See funnel analysis by event sequences.
        </div>
        <div class="col-lg-6" style="text-align:center">
            <img src="/images/screens-events.png" style="width:400px" />
        </div>
    </div>

    <div class="row white-bg m-t-lg">
        <div class="col-lg-6" style="text-align:center">
            <img src="/images/screens-funnel.png" style="width:400px" />
        </div>
        <div class="col-lg-6">
            <br><br>
            <div class="forum-icon">
                <i class="fa fa-filter" style="position:relative;top:-10px"></i>
            </div>
            <h3>Funnels</h3>
            <br>Our fully segmentable funnels allow you see how many users followed an event sequence to a conversion.  See each step and the conversion rate between steps.  Breakdown steps by
            any attribute.</a>.
        </div>
    </div>

    <a name="people" class="anchor-header"></a>
    <div class="row white-bg m-t-lg">
        <div class="col-lg-6">
            <br><br>
            <div class="forum-icon">
                <i class="fa fa-users" style="position:relative;top:-10px"></i>
            </div>
            <h3>Cross-Device People Analytics</h3>
            <br>Track all activity for your known users.  This data can be used to show profiles for your users across devices and can be used to integrate web or app activity into your
                existing systems.
        </div>
        <div class="col-lg-6" style="text-align:center">
            <img src="/images/screens-people.png" style="width:400px" />
        </div>
    </div>

    <a name="conversions" class="anchor-header"></a>
    <div class="row white-bg m-t-lg">
        <div class="col-lg-6" style="text-align:center">
            <img src="/images/screens-conversions.png" style="width:400px" />
        </div>
        <div class="col-lg-6">
            <br><br>
            <div class="forum-icon">
                <i class="fa fa-credit-card" style="position:relative;top:-10px"></i>
            </div>
            <h3>Campaign Tracking</h3>
            <br>Full campaign, conversion and revenue analysis. Includes funnel analysis and attribution. Built-in item-level ecommerce tracking along with the ability to track any custom
            attributes.  Eliminate sources that don't convert.
        </div>
    </div>

    <div class="row white-bg m-t-lg">
        <div class="col-lg-6">
            <br><br>
            <div class="forum-icon">
                <i class="fa fa-code-fork" style="position:relative;top:-10px"></i>
            </div>
            <h3>Data Platform</h3>
            <br>Gator.IO is 100% API driven.  You can use our platform to build custom solutions and integrate your existing systems.  We provide REST interfaces for account provisioning,
                access tokens, account management and a JSON-based query syntax.
        </div>
        <div class="col-lg-6" style="text-align:center">
            <img src="/images/screens-platform.png" style="width:400px" />
        </div>
    </div>

    <div class="row white-bg m-t-lg">
        <div class="col-lg-6" style="text-align:center">
            <img src="/images/screens-logs.png" style="width:400px" />
        </div>
        <div class="col-lg-6">
            <br><br>
            <div class="forum-icon">
                <i class="fa fa-list" style="position:relative;top:-10px"></i>
            </div>
            <h3>Infinite Logs</h3>
            <br>Detailed session and event level data from the beginning of your account is accessible at anytime via the website or API.  This includes all attributes tracked by our collection process
            plus any custom data you have added.
        </div>
    </div>

    <div class="row white-bg m-t-lg">
        <div class="col-lg-12">
            <br><br><br>
            <a class="btn btn-primary btn-xs" href="<%- application.branding.signupUrl %>">Signup - Free Trial</a>
        </div>
    </div>
</section>

<% include partials/home/contactFooter %>
<% include partials/home/footerScripts %>
</body>
</html>
