<!DOCTYPE html>
<html>
<head>
    <% include partials/home/header %>
    <title>Contact Form</title>
</head>

<body class="landing-page">
<% include partials/home/navbarSub %>

<section id="features" class="container services">
    <div class="row white-bg">
        <div class="col-sm-12">
            <br><br><h1>Support Options</h1>
            <br><h3>Email Support</h3>
            For product support, send an email to <strong><%- application.branding.supportEmail %></strong>
            <br><br>This will automatically create a trackable support case.
            <br /><br /><h3>Phone Support</h3>
            Call our sales and support telephone number and select the 'Support' option.
            <div class="methods">
                Phone: <a class="phone" href="tel:<%- application.branding.salesPhone %>"><%- application.branding.salesPhone %></a><br>
            </div>

            <br /><h3>Partners</h3>
            If you do not have an assigned business development person, please contact:
            <br><br>
            Vince Vizzaccaro
            <div class="methods">
                Phone: <a class="phone" href="tel:2484955280">248.495.5280</a><br>
                Email: <a href="mailto:vince@gator.io?subject=Partner%Request">vince@gator.io</a>
            </div>
        </div>
    </div>
</section>

<% include partials/home/footerScripts %>
</body>
</html>
