<!DOCTYPE html>
<html>
<head>
    <% include ../partials/master/header %>
</head>

<body class="fixed-navigation">

<div id="wrapper">

    <% include partials/leftPanel %>

    <div id="page-wrapper" class="gray-bg">

        <% include partials/topPanel %>

        <div class="wrapper wrapper-content animated fadeInRight">

        <% include ../partials/master/message %>

            <div class="row white-bg">
                <div class="col-lg-12">
                    <h1>Attributes</h1>
                    The following attributes are available for reporting.
                    <br><br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (var i=0; i < attributes.length; i++) { %>
                        <tr>
                            <td><%=attributes[i].name %></td>
                            <td><%=attributes[i].title %></td>
                            <td><%=attributes[i].description %></td>
                            <td><%=attributes[i].dataType %></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <% include ../partials/master/footer %>
    </div>
</div>

<% include ../partials/master/footerScripts %>

</body>
</html>
