<!DOCTYPE html>
<html>
<head>
    <% include ../partials/master/header %>
    <title>Conversion Tracking Help</title>
</head>

<body class="fixed-navigation">

<div id="wrapper">

    <% include partials/leftPanel %>

    <div id="page-wrapper" class="white-bg">

        <% include partials/topPanel %>

        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row white-bg" style="margin-top:-20px">
                <div class="col-md-12">

                    <div class="faq-item">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Conversion Tracking</h1>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq5" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; How do I track campaigns?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq5" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        Our product provides campaign conversion tracking to your website.  The two primary features are:
                                        <br><br>
                                        The ability to track referrals from marketing campaigns, such as pay-per-click search engines, email promotions, etc.
                                        <br>The ability to track orders and other events from the referrals to see if your marketing programs are effective.
                                        <br><br>
                                        The way this works is by adding a query string parameter called 'source' to the referral.  For example, if you are creating an ad, there is a
                                        link back to your site in the ad.  Add a query string parameter indicating the campaign:
<br><br><pre>
http://www.mysite.com?source=MyCampaign
</pre>
                                        <br>The query string parameter 'utm_campaign' is also automatically identified in order to be compatible with your existing Google campaigns.  You can also create
                                        other parameters and even set up referrers from specific sites to specific campaigns.  See the items below for details.
                                        <br><br>
                                        Then, add event code to your site on every event you wish to track.  For example, on the order confirmation page, you may have:
<br><br><pre>
gator.logEvent('Order', { id: 'ORD123', revenue: 99.95 });
</pre>
                                        See our <a href="/developer/web/javascriptapi">full API</a> on what you can track.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq6" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; How do I track ecommerce?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq6" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <p>
                                            Ecommerce is tracked by logging events with specifice attributes.  For example:
<br><br><pre>
gator.logEvent('Purchase', { revenue: 99.95 });
</pre>
                                            <br>The 'revenue' attribute is a built-in attribute that will then be used in reports.  For a full list of ecommerce attributes and how to implement them,
                                            see the <a href="/developer/web/ecommerce">section on ecommerce in the developer's guide</a>.

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq7" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; How do funnels work?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq7" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <h4>Key concepts</h4>
                                        <ul>
                                            <li>A funnel counts the number of <b>unique users</b> (not sessions or events) that complete a series of events in a specified order.</li>
                                            <li>The steps can be followed loosely, meaning there can be other events in the series.</li>
                                            <li>The steps can be completed across sessions.  For example, a user can have a 'Cart' event one day, then complete a 'Purchase' event a week later.</li>
                                            <li>A user has the full timeframe of the report to complete the steps.</li>
                                            <li>A user can repeat steps, or even the whole sequence, but is counted only once.</li>
                                        </ul>
                                        <h4>Examples:</h4>
                                        A funnel has steps A, B and C.
                                        <br><br><table class="table hover" style="width:700px">
                                            <tr><td><b>Path</b></td><td><b>Does it count?</b></td></tr>
                                            <tr><td>A - B - C</td><td>Yes</td></tr>
                                            <tr><td>A - C - B</td><td>No.  The sequence is out of order.</td></tr>
                                            <tr><td>A - B - A - C</td><td>Yes.  Even though the path was loose, the steps were completed in order</td></tr>
                                            <tr><td>A - B - C - C</td><td>Yes, but only one unique user is counted, even though the last step happened twice.</td></tr>
                                            <tr><td>A - B - C - A - B - C</td><td>Yes, but only one unique user is counted, even though the whole sequence happened twice.</td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq8" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; How do I track existing campaigns?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq8" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        You can track existing campaigns based on the following:
                                        <br><br><table class="table hover" style="width:700px">
                                            <tr><td><b>Situation</b></td><td><b>How to Setup</b></td></tr>
                                            <tr>
                                                <td>Campaigns in Adwords or another ad product</td><td>Make sure these campaigns are tagged with query string parameters to indicate the campaign.  For
                                                    example, the referral should be like
<br><br><pre>www.mysite.com?source=myCampaign
<br>or generally for AdWords<br>
www.mysite.com?utm_campaign=myCampaign
</pre>
                                                    <br>The ids 'source' and 'utm-campaign' are automatically tracked.  If you have other parameters, you can add them from the
                                                    <a href="/setup/campaignids">campaign identifiers</a> page.
                                                </td>
                                            </tr>
                                            <tr><td>Ads already placed that do not have a campaign parameter.</td>
                                                <td>
                                                    In this case, you can set up specific referrers to a campaign.  You can do that from the <a href="/setup/campaignreferrers">campaign referrers</a> page.
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq9" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; Can a specific referrer be assigned to a campaign?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq9" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <p>
                                            Yes.  You can set up specific referrers to a campaign.  You can do that from the <a href="/setup/campaignreferrers">campaign referrers</a> page.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq10" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; How can I attribute a campaign to an event that happens days after the campaign referral?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq10" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        There are three distinct campaign attributes:
                                        <br><br><table class="table hover" style="width:700px">
                                            <tr><td><b>Name</b></td><td><b>Explanation</b></td></tr>
                                            <tr><td>Latest Campaign</td><td>If a user is referred to you via multiple campaigns, this is the latest campaign.  It could have occurred many sessions ago.
                                                    This is carried forward on all sessions after
                                                the referral.</td></tr>
                                            <tr><td>First Campaign</td><td>This is the first campaign the user was referred by.  This is also carried forward on every session.</td></tr>
                                            <tr><td>Current Campaign</td><td>This is the campaign for the current session only.  It is not carried forward.</td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/master/footer %>
    </div>
</div>

<% include ../partials/master/footerScripts %>

</body>
</html>
