<!DOCTYPE html>
<html>
<head>
    <% include ../partials/master/header %>
    <title>A/B Testing Help</title>
</head>

<body class="fixed-navigation">

<div id="wrapper">

    <% include partials/leftPanel %>

    <div id="page-wrapper" class="white-bg">

        <% include partials/topPanel %>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row white-bg" style="margin-top:-20px">
                <div class="col-md-12">
                    <div class="faq-item">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>A/B (Multivariate) Testing</h1>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq11" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; ?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq11" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <p>
                                            A
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/master/footer %>
    </div>
</div>

<% include ../partials/master/footerScripts %>

</body>
</html>
