<!DOCTYPE html>
<html>
<head>
    <% include ../partials/master/header %>
    <title>Conversion Tracking Overview</title>
</head>

<body class="fixed-navigation">

<div id="wrapper">

    <% include partials/leftPanel %>

    <div id="page-wrapper" class="white-bg">

        <% include partials/topPanel %>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row white-bg" style="margin-top:-20px">
                <div class="col-md-12">

                    <div class="faq-item">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Overview</h1>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq1" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; What makes you different from Google Analytics?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq1" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <p>
                                            We differ in the following major areas:
                                            <ul>
                                            <li>
                                                We identify and report on fraudulent and hidden traffic.  This allows you to measure the true effectiveness of your campaigns so you can stop wasting money on poorly performing ones.
                                            </li>
                                            <li>
                                                We do not sample data for reports.  In order to conserve processing resources, Google Analytics will display reports by sampling a subset of your data, which can skew your results.
                                            </li>
                                            <li>
                                                We provide logs of all data from the beginning of your account.  It is accessible at anytime via the website or API.
                                            </li>
                                            <li>
                                                We provide phone and email support with short turnaround times.
                                            </li>
                                            <li>
                                                We have real-time data analysis - Google Analytics reports can lag by an hour or more, depending on the report and amount of data.
                                            </li>
                                            <li>
                                                Our funnels are retroactive, meaning you can view historical data at any time.  Google Analytics requires the setup of funnels prior to collecting data on them.
                                            </li>
                                            <li>
                                                Google's privacy policy states your user data will be used to 'Make ads more effective'.  This means Google is collecting your user's information from your site in order
                                                to target potentially competitive ads to them.  We are not an advertising company and will not use your data for advertising purposes.
                                            </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq3" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; What should I be tracking?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq3" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <p>
                                        Each company is different, but in general, you should be tracking events that match your business goals.  An example scenario is a website that
                                        has entry pages and a signup.  In this scenario, you would place event code as such:
                                        <br>
                                        <h4>For each entry page:</h4>
                                        <pre>gator.logEvent('Entry Page', { page: location.pathname });</pre>
                                        <h4>On the signup confirmation:</h4>
                                        <pre>gator.logEvent('Signup', { user: $('#user').val() });</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq4" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; How do I integrate your data into my existing systems?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq4" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <p>
                                        Use our API.  Full documentation can be <a href="/developer/overview">found here</a>.  In particular, view the section on the Query Language.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq5" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; Does support cover technical assistance?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq5" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <p>
                                        We can assist you in the implementation of the product, including tracking.  However, many customers require coding help and/or guidance on how to get the most out of the
                                        product.  In this situation, we have a number of regional partners that can assist you.  Please contact us for a referral.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a data-toggle="collapse" href="#faq6" class="faq-question"><span class="fa fa-angle-down"></span>&nbsp; What is a project?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq6" class="panel-collapse collapse">
                                    <div class="faq-answer">
                                        <p>
                                        Your account can track many websites or apps.  Each one of these is called a project and has its own tracking code.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/master/footer %>
    </div>
</div>

<% include ../partials/master/footerScripts %>

</body>
</html>
